
# env files
backend/.env
.env
*.env
backend/.env

backend/.env
.env
*.env
.DS_Store

# ML local data (videos, outputs etc.)
backend/ml/data/
backend/ml/__pycache__/
backend/ml/**/*.pyc

backend/.env

backend/venv/
venv/
